.breadCrumbContainer {
    display: flex;
    align-items: center;
    padding-left: 24px;
    column-gap: 16px;
    font-family: Calibri;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #686868;
    cursor: pointer;
    flex-wrap: wrap;   
}

.activeColor {
    color: #2B2B2B !important;
    font-weight: 600 !important;
}

.displayFlexRow {
    display: flex;
    column-gap: 16px;
}